@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Sansita:ital,wght@0,400;0,700;1,400&display=swap');

.fondo-header1 {
  background-image: url("/public/Images/Fondo.jpg");
  background-size: cover;
  background-position: center;
}

.fondo-header2 {
  background-image: url("/public/Images/Fondoheader.jpg");
  background-size: cover;
  background-position: center;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
.App-logo {
  animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
