.fondo-H {
  background-size: cover;
  background-position: center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1439' height='600' preserveAspectRatio='none' viewBox='0 0 1439 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1784%26quot%3b)' fill='none'%3e%3crect width='1439' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsRadialGradient1785%26quot%3b)'%3e%3c/rect%3e%3cpath d='M1133.5781551551026 119.24540299569219L1181.0987005503669 7.2940137010239 1021.6267658604344 71.72485760042798z' fill='rgba(100%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M19.62 278.37 a140 140 0 1 0 280 0 a140 140 0 1 0 -280 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1303.905%2c665.277C1353.498%2c664.817%2c1405.796%2c650.574%2c1430.04%2c607.309C1453.885%2c564.754%2c1437.948%2c513.395%2c1412.244%2c471.936C1388.157%2c433.085%2c1349.601%2c402.636%2c1303.905%2c403.861C1259.922%2c405.04%2c1228.712%2c440.309%2c1205.183%2c477.488C1179.217%2c518.518%2c1151.055%2c566.709%2c1173.649%2c609.275%2c155.461%2c274.363' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M660.494748013047 336.0149077372941L688.4996648947864 427.6148634503621 780.0996206078544 399.6099465686228 752.0947037261151 308.00999085555475z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1201.162%2c130.523C1225.933%2c130.684%2c1253.877%2c132.673%2c1268.083%2c112.379C1283.89%2c89.799%2c1283.052%2c58.235%2c1267.871%2c35.229C1253.904%2c14.062%2c1226.521%2c10.732%2c1201.162%2c10.965C1176.348%2c11.193%2c1150.076%2c15.635%2c1136.542%2c36.434C1121.911%2c58.919%2c1120.547%2c89.405%2c1135.734%2c111.518C1149.514%2c131.583%2c1176.822%2c130.365%2c1201.162%2c130.523' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M285.12%2c216.522C318.842%2c218.494%2c353.955%2c202.915%2c368.846%2c172.594C382.593%2c144.602%2c364.092%2c114.67%2c348.367%2c87.739C332.842%2c61.152%2c315.894%2c30.124%2c285.12%2c29.205C253.386%2c28.257%2c229.348%2c55.448%2c214.969%2c83.753C202.029%2c109.225%2c203.448%2c138.441%2c216.795%2c163.702C231.209%2c190.982%2c254.319%2c214.721%2c285.12%2c216.522' fill='rgba(68%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M417.08 369.61 a115.65 115.65 0 1 0 231.3 0 a115.65 115.65 0 1 0 -231.3 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1385.5152851381145 198.53903860258015L1470.2267521524136 129.94104518587514 1401.6287587357087 45.229578171575895 1316.9172917214094 113.82757158828092z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M542.2790255813695 330.4775926344828L658.2970646736285 226.01448102430786 553.8339530634536 109.9964419320489 437.8159139711946 214.45955354222383z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-74.7 344.32 a127.96 127.96 0 1 0 255.92 0 a127.96 127.96 0 1 0 -255.92 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1784'%3e%3crect width='1439' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cradialGradient cx='50%25' cy='50%25' r='772.06' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient1785'%3e%3cstop stop-color='rgba(12%2c 36%2c 61%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(27%2c 0%2c 66%2c 1)' offset='0.59'%3e%3c/stop%3e%3cstop stop-color='rgba(40%2c 10%2c 160%2c 1)' offset='0.87'%3e%3c/stop%3e%3cstop stop-color='rgba(35%2c 0%2c 87%2c 1)' offset='1'%3e%3c/stop%3e%3c/radialGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

.App-logo {
  animation: alternate infinite App-logo-spin 7s;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* @keyframes App-logo-spin {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(360deg);
  }
  90% {
    transform: rotate(50deg);
  }
} */

.flotar {
  animation: alternate infinite flotar 5s;
}

@keyframes flotar {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(0%) translateY(15%);
  }
}

.flotarIcono {
  animation: alternate infinite flotarIcono 2.5s;
}

@keyframes flotarIcono {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(0%) translateY(50%);
  }
}

.aparecer {
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.aparecer.is-visible {
  opacity: 1;
}

.FondoF {
  background: linear-gradient(-45deg, #190938, #0b2740, #211f37, #0e0b15);
  background-size: 800% 400%;
  animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
  /* background: linear-gradient(180deg, #1f2937 0%, rgb(14, 13, 13) 100%); */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* SVG */
.custom-shape-divider-top-1689098760 {
  transform: rotate(180deg);
}

.custom-shape-divider-top-1689098760 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 41px;
}

/* Cambio de Colores */
.inspire {
  animation: flash 2.2s linear infinite;
}

@keyframes flash {
  0% {
    opacity: 1;
    color: rgb(255, 187, 0);
  }

  50% {
    color: rgb(189, 177, 7);
  }

  100% {
    color: yellow;
  }
}

.pulso {
  animation: 2.5s pulse infinite ease-in-out;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #69bcff;
  }

  100% {
    box-shadow: 0 0 0 36px #69ffa800;
  }
}

.girarLogo {
  animation: Girar infinite 20s linear;
}


@keyframes Girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*  */

.efectoProjects {
  animation: sunshines 8s infinite;
}

@keyframes sunshines {
  0% {
    transform: scale(1);
    opacity: 2.6;
  }

  100% {
    transform: scale(0.4);
    opacity: 0;
  }
}

.efectoProjects2 {
  animation: p2 8s infinite;
}

@keyframes p2 {
  0% {
    transform: scale(1);
    opacity: 2.6;
  }

  100% {
    transform: scale(2.2);
    opacity: 0;
  }
}

.efectoProjects2 {
  animation: p2 9s infinite;
}

@keyframes p2 {
  0% {
    transform: scale(1);
    opacity: 2.6;
  }

  100% {
    transform: scale(4.6);
    opacity: 0;
  }
}

.efectoProjects3 {
  animation: p3 10s infinite;
}

@keyframes p3 {
  0% {
    transform: scale(1);
    opacity: 2.6;
  }

  100% {
    transform: scale(5.4);
    opacity: 0;
  }
}

.efectoProjects4 {
  animation: p4 11s infinite;
}

@keyframes p4 {
  0% {
    transform: scale(1);
    opacity: 2.6;
  }

  100% {
    transform: scale(6.0);
    opacity: 0;
  }
}

